@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Button Styles */
  .btn {
    @apply px-4;
    @apply py-2;
    @apply rounded-lg;
    @apply font-medium;
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;
    @apply tracking-tighter;
  }

  .btn-primary {
    @apply bg-black;
    @apply text-white;
  }

  .btn-text {
    @apply text-black;
    @apply bg-transparent;
  }

  /* Tag Styles */
  .tag {
    @apply text-sm;
    @apply inline-flex;
    @apply border;
    @apply border-[#222]/10;
    @apply px-3;
    @apply py-1;
    @apply rounded-lg;
    @apply tracking-tighter;
  }
}

@layer base {
  /* Navigation Link Styles */
  .nav-link {
    @apply relative;
    @apply inline-block;
    @apply px-1;
    @apply text-gray-800;
    @apply hover:text-blue-600;
    @apply transition-colors;
    @apply after:absolute;
    @apply after:left-0;
    @apply after:bottom-0;
    @apply after:w-full;
    @apply after:h-[2px];
    @apply after:bg-blue-600;
    @apply after:transition-all;
    @apply after:transform;
    @apply after:scale-x-0;
    @apply hover:after:scale-x-100;
    @apply after:content-[''];
  }

  /* Navigation Item Styles */
  .nav-item {
    @apply px-4;
    @apply py-1.5;
    @apply rounded-full;
    @apply text-white/70;
    @apply text-sm;
    @apply font-semibold;
    @apply hover:bg-white/10;
    @apply hover:text-white;
    @apply transition;
    @apply duration-300;
  }
}

@layer utilities {
  /* Container Utility */
  .container {
    @apply lg:max-w-6xl;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1s ease-out;
  }
}
